.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a.boardLink:hover {
  background-color: white !important;
}

span.boardLink:hover {
  background-color: white !important;
}

span.boardLink1:hover {
  background-color: white !important;
  color: red;
}

.boardLink1 {
  text-decoration: none;
  cursor: pointer;
  background-color: red;
  height: 30px;
  padding-top: 4px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 30px;
  width: 200px;
}

.link {
  text-decoration: none;
}

.imgBlock {
  /* background-image: url(../public/images/bg-sec.png); */
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  color: "red";
  background-size: auto;
}

.box {
  width: 100% !important;
  height: 100px;
  background-image: url(../public/images/finance.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -moz-background-size: cover;
  -o-background-size: cover;
  margin-top: 50px;
  color: white;
  font-size: 24px;
  padding: 25px;
  box-sizing: border-box;
}

.boxe {
  width: 100% !important;
  height: 100px;
  background-image: url(../public/images/education.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -moz-background-size: cover;
  -o-background-size: cover;
  margin-top: 50px;
  color: white;
  font-size: 24px;
  padding: 25px;
  box-sizing: border-box;
}

.boxc {
  width: 100% !important;
  height: 100px;
  background-image: url(../public/images/career.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -moz-background-size: cover;
  -o-background-size: cover;
  margin-top: 50px;
  color: white;
  font-size: 24px;
  padding: 25px;
  box-sizing: border-box;
}

.boxf {
  width: 100% !important;
  height: 100px;
  background-image: url(../public/images/family.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -moz-background-size: cover;
  -o-background-size: cover;
  margin-top: 50px;
  color: white;
  font-size: 24px;
  padding: 25px;
  box-sizing: border-box;
}

.boxh {
  width: 100% !important;
  height: 100px;
  background-image: url(../public/images/health.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -moz-background-size: cover;
  -o-background-size: cover;
  margin-top: 50px;
  color: white;
  font-size: 24px;
  padding: 25px;
  box-sizing: border-box;
}

.box1 {
  width: 400px;
  height: 400px;
  margin: 15px;
  background-image: url(../public/images/finance.jpg);
  background-repeat: no-repeat;
}

.box11 {
  width: 400px;
  height: 400px;
  margin: 15px;
  /* background-image: url(../public/images/smm4.jpg); */
  background-repeat: no-repeat;
}

.box12 {
  width: 400px;
  height: 400px;
  margin: 15px;
  background-image: url(../public/images/hus.jpg);
  background-repeat: no-repeat;
}

.box13 {
  width: 400px;
  height: 400px;
  margin: 15px;
  background-image: url(../public/images/Have-monthly.jpg);
  background-repeat: no-repeat;
}

.box14 {
  width: 400px;
  height: 400px;
  margin: 15px;
  background-image: url(../public/images/Invest-more.jpg);
  background-repeat: no-repeat;
}

.box15 {
  width: 400px;
  height: 400px;
  margin: 15px;
  background-image: url(../public/images/finance-booksblogs.jpg);
  background-repeat: no-repeat;
}

.box2 {
  width: 400px;
  height: 400px;
  margin: 15px;
  background-image: url(../public/images/health.jpg);
  background-repeat: no-repeat;
}

.box3 {
  width: 400px;
  height: 400px;
  margin: 15px;
  background-image: url(../public/images/education.jpg);
  background-repeat: no-repeat;
}

.box4 {
  width: 400px;
  height: 400px;
  margin: 15px;
  background-image: url(../public/images/career.jpg);
  background-repeat: no-repeat;
}

.box5 {
  width: 400px;
  height: 400px;
  margin: 15px;
  background-image: url(../public/images/family.jpg);
  background-repeat: no-repeat;
}

.boxtext {
  color: black;
  font-weight: bold;
  text-align: center;
  padding-top: 20%;
  font-size: 24px;
  box-sizing: border-box;
}

.boxtext1 {
  color: black;
  font-weight: bold;
  text-align: center;
  padding-top: 20%;
  font-size: 24px;
  box-sizing: border-box;
  cursor: pointer;
}

.addGoal {
  width: 400px;
  height: 400px;
  margin: 15px;
  background-color: white;
}

.minus {
  position: "relative" !important;
  top: -150px !important;
  left: 260px !important;
}

.imgBlockList {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.next {
  background-color: red;
  opacity: 0.5;
}

.next1 {
  background-color: red;
}

.pop1 {
  background-color: black;
  opacity: 0.8;
  z-index: 1;
  width: 100%;
  height: 150vh;
  position: absolute;
}

.pop {
  background-color: red;
}

input:focus-visible {
  outline: none;
}

.new-minus {
  position: relative;
  top: -150px;
  left: 290px;
}

@media (max-width: 1200px) {
  .imgBlockList {
    flex-direction: column;
    width: 350px;
  }
}

@media (max-width: 550px) {
  .boardnone {
    display: none;
  }

  .video {
    width: 300px !important;
  }

  .box1 {
    width: 300px;
    height: 300px;
  }

  .box2 {
    width: 300px;
    height: 300px;
  }
  .box3 {
    width: 300px;
    height: 300px;
  }
  .box4 {
    width: 300px;
    height: 300px;
  }
  .box5 {
    width: 300px;
    height: 300px;
  }

  .addGoal {
    width: 300px;
    height: 300px;
  }

  .new-minus {
    left: 240px;
    top: -120px;
  }

  #canvas {
    width: 400px !important;
  }

  .close {
    top: 150px !important;
    right: 20% !important;
  }
}

#canvas {
  display: block;
  width: 500px;
  margin: auto 0;
  background-color: red;
}

.none {
  display: none;
}
